/*Nom du site*/
.nom	{
	 text-align:center;
}										


/*image*/
#image {
	margin-left: 15%;
   width: 15%;
   border-collapse: collapse;
   border: 3px solid rgb( 97, 108, 106 );
}


/*intitulé,cout,diff*/	
.intitule {
	position: relative;
	margin-left: 75%;
	bottom: 240px;
}

body{
	font-size:100%;
	background: linear-gradient(rgb(113, 216, 219) , 15%, rgb( 197, 248, 239 ) );
	color: rgb( 97, 108, 106 );
	font-family:Palatino;
}

table {
	margin: auto;
    border: 2px solid rgb( 97, 108, 106 );
	width: 30%;
    border-collapse:collapse;
 
}

td,th{
	border: 1px solid rgb( 97, 108, 106 );
	padding: 10px;
	vertical-align:top;
}
#bar1{
	border: 1.5px solid rgb( 97, 108, 106 );
	margin-top: -11%;
}
#freeze .A{
	
	border:2px solid rgb( 97, 108, 106 );
	padding:20px;
	margin-top: 30px;
	text-align:justify;
	width:40%;
	margin-left:2%;
}
.B{
	
	border:2px solid rgb( 97, 108, 106 );
	padding:20px;
	margin-top: -10%;
	text-align:justify;
	width:40%;
	margin-left:55%;
}
.center{
	text-align: center;
}

